<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= evaluate_page_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="turbo-prefetch" content="false">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <div class="container-fluid px-0">
      <%= render "layouts/super_admin_sidebar" %>
      <main class="main-content">
        <%= render "layouts/super_admin_header" %>
        <div class="p-4 px-0 px-xl-4">
          <div class="container-fluid container-xl">
            <%= render "layouts/flash" %>
            <%= yield %>
          </div>
        </div>
      </main>
      <% if content_for?(:body_end) %>
        <%= yield :body_end %>
      <% end %>
    </div>
  </body>
</html>
